{% extends "layout.html" %}
{% block content %}

<div class="col-md-12">
    <div class="content-section">
        <img src="/static/articles_puppies_food.jpg" alt="articles_puppies_food" width="650" height="379">
        <h6>Posted Nov 2020</h6><br>
        <h3><a href="https://chicosnaturalpetmarket.com/blog/74051/how-to-choose-the-right-food-for-your-dog">How to
                Choose
                The Right Food for Your Dog</a></h3><br>
        <p> Good food is the key to good health and a long life for your dog, but there are dozens of dog foods to
            choose from. There are many different brands of dog food, with different blends for specific pet needs,
            different flavors,
            ingredients, and nutritional needs, along with wet, dry, and semi-moist foods – which one is best for your
            pet?<br></p>

        <h5>Factors in Your Dog Food Choice</h5>

        <p>Conscientious dog owners must take many factors into consideration when choosing the appropriate dog food,
            including:<br>

            - Age or Stage of Life: A puppy's nutritional needs are much different from an adult dog, and a senior dog
            has still different needs. Different foods are formulated to meet these changing needs.<br>

            - Weight Control: Just like humans may have trouble controlling their weight, so can dogs. Some foods are
            formulated for weight loss, while others are designed to help dogs gain weight in a healthy way.<br>

            - Activity Level: A very active dog needs more calories than a more sedentary pooch, and the proper food
            will give the dog the energy it needs for its lifestyle.
        </p>
    </div>
</div>

<div class="col-md-12">
    <div class="content-section">
        <img src="/static/articles_new_cat.jpg" alt="articles_new_cat" width="650" height="379">
        <h6>Posted Oct 2020</h6><br>
        <h3><a href="https://www.comfortzone.com/behavior-blog/new-pet/top-10-tips-for-new-cat-owners">Top 10 Tips for
                New Cat Owners</a></h3><br>
        <p> When you're a new cat owner, you only want the best for your fur baby. How can you make your home as
            welcoming as
            possible when everything's so new to both you and your cat? What can you do to help your kitty feel safe,
            healthy, and
            happy? Every first-time cat owner checklist should include cat scratchers, extra litter boxes, and lots of
            playtime.
            Here are 10 great tips that all new cat owners should know.<br></p>

        <ol>
            <li>Help Your Cat Feel Safe and Secure</li>
            <p>Your cat will be a little shy at first, so try to make your home as welcoming as possible. It's perfectly
                normal if your
                cat feels nervous and hides from you. Cats don't generally like change, and she may need time to get
                used to
                all the new
                smells and sounds in your home.</p>
            <li>Visit the Vet</li>
            <p>Find your cat a great veterinarian, schedule a checkup, and make sure his vaccines are up-to-date.
                Consider getting him
                a microchip too. Keep the microchip number and a photo of your new cat on your phone in case he ever
                escapes. You'll be
                glad you did.</p>
            <li>Introduce Your Cat to Other Pets Slowly</li>
            <p>When you bring home a new cat, slowly introduce her to your other pets, such as your dog. Keep your new
                cat in a
                separate room and feed your pets on either side of a closed door. Put each pet's blanket in the other
                pet's room and
                swap rooms sometimes so they get used to each other's smells.
            </p>
        </ol>
    </div>
</div>


{% endblock content %}