{% extends "layout.html" %}
{% block content %}

<div class="col-md-12">
    <div class="content-section">
        <h2>Upcoming Events</h2>
        <h4>December 2020</h4>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a href="chicosnaturalpetmarket.com"> Adoption Fair at
                    Chico Natural's Pet Market</li></a>
            <li class="list-group-item list-group-item-light"><a
                    href="https://www.petsmart.com/adoption/people-saving-pets/ca-adoption-landing.html?utm_source=google&utm_medium=search&gclid=EAIaIQobChMIt-X9v5eD7QIVDvDACh31xwueEAAYASAAEgLO1_D_BwE">
                    Dog/Cat Adoption Events at Petsmart</li></a>
            <li class="list-group-item list-group-item-light"><a
                    href="https://www.petcofoundation.org/put-your-love-into-action/learn-about-adoption/adopt-at-petco/">Adopt
                    a Pet At Petco </li></a>
        </ul>
        </p>
    </div>
</div>

<div class="col-md-12">
    <div class="content-section">
        <h2>Upcoming Events</h2>
        <h4>January 2021</h4>
        <ul class="list-group">
            <li class="list-group-item list-group-item-light"><a
                    href="https://www.petsmart.com/adoption/people-saving-pets/ca-adoption-landing.html?utm_source=google&utm_medium=search&gclid=EAIaIQobChMIt-X9v5eD7QIVDvDACh31xwueEAAYASAAEgLO1_D_BwE">
                    Dog/Cat Adoption Events at Petsmart</li></a>
            <li class="list-group-item list-group-item-light"><a
                    href="https://www.petcofoundation.org/put-your-love-into-action/learn-about-adoption/adopt-at-petco/">Adopt
                    a Pet At Petco </li></a>
            <li class="list-group-item list-group-item-light"><a href="https://chicosnaturalpetmarket.com/"> Adoption
                    Fair at
                    Chico Natural's Pet Market</li></a>
        </ul>
        </p>
    </div>
</div>
{% endblock content %}